

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
}

#header .logo h1 span {
  color: #3ec1d5;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header {
    height: 64px;
    background: rgba(0, 0, 0, 0.8);
  }

  #header .logo h1 {
    font-size: 28px;
  }
}

.header-bg {
  background: url(../img/background/page-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 60px;
}

.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  font-family:'ROBOTECH GP', sans-serif;}

.navbar ul {
  margin: 0;
  display: grid;
    grid-template-columns: auto auto auto 30px 50px;
    gap: 100px;
   justify-content: space-between;
  list-style: none;
}

.navbar li {
  position:relative;
   left: 30px;
}

.navbar a,
.navbar a:focus {
  position: absolute;
 top: 30px;
 left: 30px;
  font-size:18px;
  color:#FFED98 ;
  text-shadow: 0 0 5px #FF975C, 0 0 5px #FF975C, 0 0 5px #FFED98, 0 0 5px #FFED98, 0 0 5px #FFED98, 0 0 5px #FFED98, 0 0 5px #FFED98;
  white-space: nowrap;
  transition: 0.3s;
  }

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #FF985C;
}



/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 2, 2, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #0d2529;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3ec1d5;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #3ec1d5;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}


